*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: hsl(253, 54%, 5%);
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  padding: 2rem;
  border-radius: 14px;
}

.bg-image {
  background-image: url('mike-l-8Qr1ixi-rMU-unsplash.jpg');
}

.bg-blue {
  background: linear-gradient(45deg, hsl(240, 100%, 43%) 20%, hsl(269, 100%, 32%));
}

.bg-magenta {
  background: linear-gradient(45deg, hsl(300, 100%, 36%) 10%, hsl(258, 100%, 26%));
}

.padding {
  padding-block: clamp(2rem, 0.18181818181818188rem + 7.757575757575758vw, 6rem);
}

.mw {
  max-width: 60rem; // 960px
  margin-inline: auto;
}

.mw-min {
  width: min(100% - 40px, 60rem);
  margin-inline: auto;
}

.fb-wrapper {
  display: grid;
  grid-template-columns: 1fr min(100% - 40px, 60rem) 1fr;

  > * {
    grid-column: 2;
  }

  > .fullbleed {
    grid-column: 1 / -1;
  }
}

.fb-col-wrapper {
  --space-lr: 40px;
  --space-gap: 20px;
  --col-count: 2;

  @media (width >= 43.75em) {
    --space-lr: 80px;
    --space-gap: 30px;
    --col-count: 6;
  }

  @media (width >= 62.5em) {
    --col-count: 12;
  }

  display: grid;
  grid-template-columns: 1fr repeat(var(--col-count), calc((min(100% - var(--space-lr), 60rem) - (var(--col-count) - 1) * var(--space-gap)) / var(--col-count))) 1fr;
  gap: var(--space-gap);

  .card {
    grid-column: 2 / -2;

    @media (width >= 43.75em) {
      grid-column: 2 / 5;
    }

    @media (width >= 62.5em) {
      grid-column: 2 / 8;
    }
  }

  img {
    grid-column: 2 / -1;

    @media (width >= 43.75em) {
      grid-column: 5 / -1;
    }

    @media (width >= 62.5em) {
      grid-column: 8 / -1;
    }
  }
}
